# Exclude all files and  folders
/*

# Except

!.gitignore

# Script for installing these files and a system font
!.install-dotfiles.sh

# MPD Config file
!.mpdconf

!.i3/config

!backgrounds/

!.conkyrc

!.vimrc
!.vimperatorrc
!.vim/bundle

!.zshrc
!.zprofile
!.zshenv

!.Xdefaults
!.Xresources
!.XresourcesColors

!.lemonbar/

!.bspwmrc
!.sxhkdrc

!.xmodmap
!.xinitrc
