! Set system-specific font
#include "/home/scallywag/.Xresources-font"

! Colorscheme
#include "/home/scallywag/.XresourcesColors/XresourcePurple"

! For HiDPI displays
*.dpi: 192
*.autohind: 0
*.lcdfilter: lcddefault
*.hintstyle: hintfull
*.hinting: 1
*.antialias: 1
*.rgba: rgb

! Turn off scroll bar
URxvt.scrollBar: false

! Padding inside the terminal
URxvt.internalBorder: 15

! Color Depth
URxvt.depth: 32

! Scrollback buffer - 65535 is max
URxvt*saveLines:12000

URxvt.intensityStyles: false
