#include "/home/scallywag/.Xresources-fontsize"
#include "/home/scallywag/.Xresources-solarized"

! For HiDPI displays
*.dpi: 96
*.autohind: 0
*.lcdfilter: lcddefault
*.hintstyle: hintfull
*.hinting: 1
*.antialias: 1
*.rgba: rgb

! Turn off scroll bar
URxvt.scrollBar: false

! Color Depth
URxvt.depth: 32

! Scrollback buffer - 65535 is max
URxvt*saveLines:12000

! FONT set in .xinitrc
*.font: xft:Hack-Regular:size=FONTSIZE
URxvt.letterSpace: -3

URxvt.intensityStyles: false
